
                </div>
        </div>

<!-- Sidebar -->

	<div id="sidebar">
		<div class="inner">

			<!-- Search
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>
			 -->

			<!-- Menu -->
<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="index.php">Homepage</a></li>
		<li>
			<span class="opener">Staff</span>
			<ul>
		                <li><a href="Staff.php">Staff</a></li>
		                <li><a href="update_add_staff.php">Update/Add Staff</a></li>
			</ul>
		</li>

		<li>
			<span class="opener">FTE Plannning</span>
			<ul>
                                <!--
		                <li><a href="allftesSYS.php">View SYS FTE's</a></li>
		                <li><a href="allftesENV.php">View ENV FTE's</a></li>
                                -->
		                <li><a href="allftes.php">View Group FTE's</a></li>
		                <li><a href="searchstaff.php">Search By Staff</a></li>
		                <li><a href="searchworkpackage.php">Search By Workpackage</a></li>
		                <li><a href="searchteam.php">Search By Team</a></li>
		                <li><a href="update_staff_fte.php">Update FTE</a></li>
			</ul>
		</li>
		<li>
			<span class="opener">Workpackages</span>
			<ul>
		                <li><a href="workpackage_managers.php">Workpackage Managers</a></li>
		                <li><a href="searchworkpackageinfo.php">Search Workpackage Info</a></li>
		                <li><a href="update_workpackage_info.php">Update Program WP</a></li>
		                <li><a href="update_workpackageinfo.php">Update WP Info</a></li>
		                <li><a href="update_workpackage_staff.php">Update/Add WP Staff</a></li>
		                <li><a href="update_workpackage_activities.php">Update/Add WP Activities</a></li>
		                <li><a href="update_workpackage_services.php">Update/Add Services </a></li>
		                <li><a href="update_workpackage_materials.php">Update/Add Materials</a></li>
			</ul>
		</li>
		<li>
			<span class="opener">Reports</span>
			<ul>
		                <li><a href="view_project_task.php">Program Totals</a></li>
		                <li><a href="view_project_balances.php">Project Balances</a></li>
		                <li><a href="view_project_totals.php">Project Totals</a></li>
			</ul>
		</li>
		<li><a href="teams.php">Teams</a></li>
	</ul>
</nav>


<section>
      <header class="major">
              <h2> Under Or Over</h2>
      </header>
       <div class="mini-posts">
               <article>
                       <?php 
                        $currentYear=date("Y");
                        $output_str=over_or_under($conn,$currentYear); 
                        echo $output_str;
                        ?>
               </article>
       </div>
       <ul class="actions">
               <li><a href="overunder.php" class="button">More</a></li>
       </ul>
</section>






<!--
								<section>
									<header class="major">
										<h2> SOME HEADER</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>


								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
										<li class="icon solid fa-phone">(000) 000-0000</li>
										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />
										Nashville, TN 00000-0000</li>
									</ul>
								</section>
-->

							<!-- Footer -->
								<footer id="footer">
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
	<!--		<script src="assets/js/jquery.min.js"></script> -->
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
