<!DOCTYPE HTML>
<html>
	<head>
		<title>HPC FTE PLANNING</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/auto.css" />
	</head>
	<body class="is-preload">
        <!-- Wrapper -->
	<div id="wrapper">
    	    <!-- Main -->
    	    <div id="main">
		<div class="inner">

                <!-- Header -->
               	<header id="header">
               		<a href="index.php" class="logo"><strong>HPC</strong> FTE PLANNING</a>
                        <!--
                        <ul class="icons">
                                <li class="icon solid fa-home"><span class="label"><a href='int.lanl.gov'></span></a></li>
                                <li class="icon solid fa-envelope"><a href="webmail.lanl.gov"></a></li>
                                <li class="icon solid fa-phone"><a href="phonebook.lanl.gov"></a></li>
               			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
               			<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
               			<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
               			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
               			<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
                        </ul>
                        -->
               		<ul class="icons">
               			<li><a href="https://int.lanl.gov/" class="icon solid fa-home"><span class="label">home</span></a></li>
               			<li><a href="https://webmail.lanl.gov" class="icon solid fa-envelope"><span class="label">mail</span></a></li>
               			<li><a href="https://phonebook-y.lanl.gov/" class="icon solid fa-phone"><span class="label">phone</span></a></li>
               		</ul>
           	</header>
<!--
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
-->
<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
<script src="script_dir/jquery.min.js"></script>
<script src="script_dir/popper.min.js"></script>

<script src="script_dir/bootstrap.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="script_dir/FileSaver.min.js"></script>
<!--<script type="text/javascript" src="script_dir/jspdf.umd.min.js"></script>-->
<script type="text/javascript" src="script_dir/tableExport.js"></script>


<?php
$arr = get_defined_vars();
#print_r($arr);
#var_dump($_REQUEST);
#var_dump($_POST);
$currentYear="";
if(isset($_POST['currentYear']))
{

   $currentYear=$_POST['currentYear'];
}
if(isset($_GET['currentYear']))
{
   $currentYear=$_GET['currentYear'];
}

if(isset($_POST['search']))
{
    $exportName=$_POST['search'];
    if($currentYear!="")
    {
       $exportName="$exportName-$currentYear";
    }
}
elseif(isset($_POST['program_name']))
{
   $exportName=$_POST['program_name'];
    if($currentYear!="")
    {
       $exportName="$exportName-$currentYear";
    }
}
elseif(isset($_POST['group_name']))
{
    $exportName=$_POST['group_name'];
    if($currentYear!="")
    {
       $exportName="$exportName-$currentYear";
    }
}
else
{
   $exportName=basename($_SERVER['PHP_SELF']);
    if($currentYear!="")
    {
       $exportName="$exportName-$currentYear";
    }
}
?>
<script type="text/javaScript">
      function doExport() {
        $('#dataTable').tableExport({
            type:'excel',
            fileName: '<?php echo $exportName;?>',
            mso: {
              styles: ['background-color',
                       'color',
                       'font-family',
                       'font-size',
                       'font-weight',
                       'text-align']
            }
          }
        );
      }
    </script>
<!--
<script type="text/javaScript">
      function doExportPDF() {
          $('#dataTable').tableExport({type:'pdf',
                                       jspdf: {orientation: 'p',
                                               margins: {right: 20, left: 20, top: 30, bottom: 30},
                                               autotable: {styles: {fillColor: 'inherit',
                                                                    textColor: 'inherit',
                                                                    fontStyle: 'inherit'},
                                                           tableWidth: 'wrap'}}});
      }
  </script>

<a href="#" onclick="doExportPDF()">Export to PDF</a>
<a href="#" onclick="doExport()">Export to Excel</a>
-->
<script type="text/javascript" src="script_dir/jquery.base64.js"></script>
<script src="script_dir/export.js"></script>
<script src="script_dir/bootstrap-select.min.js"></script>


<?php

   if($verification=="True")
   {   $login=""; 
       if(isset($_SERVER['cn']))
       {   
           $login=$_SERVER['cn'];
       }
       if(isset($_SERVER['REMOTE_USER']))
       {   
           $login_name=$_SERVER['REMOTE_USER'];
       }
       $access_level=get_login_access($conn,$login_name);
       if($access_level==0)
       { 
         exit("$login does not have access to this page");
       }

   }
?>
