<!DOCTYPE HTML>
<html>
	<head>
		<title>HPC FTE PLANNING</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/auto.css" />
	</head>
	<body class="is-preload">
        <!-- Wrapper -->
	<div id="wrapper">
    	    <!-- Main -->
    	    <div id="main">
		<div class="inner">

                <!-- Header -->
               	<header id="header">
               		<a href="index.php" class="logo"><strong>HPC</strong> FTE PLANNING</a>
                               <!--
               		<ul class="icons">
               			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
               			<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
               			<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
               			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
               			<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
               		</ul>
                               -->
           	</header>
<!--
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
-->
<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
<script src="script_dir/jquery.min.js"></script>
<script src="script_dir/popper.min.js"></script>

<script src="script_dir/bootstrap.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="script_dir/FileSaver.min.js"></script>
<!--<script type="text/javascript" src="script_dir/jspdf.umd.min.js"></script>-->
<script type="text/javascript" src="script_dir/tableExport.js"></script>
<script type="text/javaScript">
      function doExport() {
        $('#dataTable').tableExport({
            type:'excel',
            mso: {
              styles: ['background-color',
                       'color',
                       'font-family',
                       'font-size',
                       'font-weight',
                       'text-align']
            }
          }
        );
      }
    </script>
<!--
<script type="text/javaScript">
      function doExportPDF() {
          $('#dataTable').tableExport({type:'pdf',
                                       jspdf: {orientation: 'p',
                                               margins: {right: 20, left: 20, top: 30, bottom: 30},
                                               autotable: {styles: {fillColor: 'inherit',
                                                                    textColor: 'inherit',
                                                                    fontStyle: 'inherit'},
                                                           tableWidth: 'wrap'}}});
      }
  </script>

<a href="#" onclick="doExportPDF()">Export to PDF</a>
-->
<a href="#" onclick="doExport()">Export to Excel</a>

<script type="text/javascript" src="script_dir/jquery.base64.js"></script>
<script src="script_dir/export.js"></script>
<script src="script_dir/bootstrap-select.min.js"></script>
